body {
  background: linear-gradient(134deg, #FFA412 27%, #EB57F7 99%);
  font-family: "Open Sans", sans-serif;
  color: #0A0F21;
  font-weight: 300;
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: #4567FF;
  font-weight: 300;
  font-size: 48px;
}
h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #4567FF;
}
h2 {
  font-size: 48px;
}
p {
  font-size: 24px;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

/* Header */
header {
  background: #FFFFFF;
  position: relative;
  z-index: 1;
}
header:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-4deg);
  transform-origin: 100%;
  z-index: -1;
}
header nav {
  padding: 1em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 40px;
}
header nav ul > li > a {
  color:#0A0F21;
  font-size: 24px;
  text-decoration: none;
}
header .logo img {
  display: block;
  height: 70px;
}

header .hero {
  text-align: center;
  display: block;
  position: relative;
  line-height: 67px;
  padding-top: 3em;
  padding-bottom: 4em;
}

/* HEADER - ABOUT */
/*header#about {
  background-color: #FFA412;
}
nav#about {
  background-color: white;
}
header .hero#about {
  background-color: #FFA412;
}
*/


/* WORK */

section#shook {
  margin: 6em;
  display: grid;
  grid-template-columns: repeat(5, minmax(5vw, 1fr));
  grid-template-rows: repeat(2, minmax(5vw, .4fr));
  grid-gap: 10px;
  /*background-color: #FFFFFF;*/
}

section#shook img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section#shook div:nth-of-type(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

section#shook div:nth-of-type(3) {
  grid-row-start: 2;
  grid-row-end: 3;
}

section#shook div:nth-of-type(4) {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
section#shook div:nth-of-type(5) {
  grid-row-start: 1;
  grid-row-end:3;
}

section#shook h2 {
  margin: 0;
}

section#shook p {
  padding: 0 1em;
  margin-bottom: 2em;
}

.project {
  display: block;
  position: relative;
  padding-top: 6em;
}
.project .one-half {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project .one-half h2 {
  margin: 0;
}
.project .one-half p {
  margin-top: 0;
}
.project-box {
  background: #FFFFFF;
  display: flex;
  margin: 6em;
  justify-content: center;
}

.project-box img {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
.project-image {
  line-height: 0;
}

section#shook h2 {
  margin: 0;
}

section#shook p {
  padding: 0 1em;
  margin-bottom: 2em;
}


/* about me grid */
.aboutme {
  margin: 6em;
  display: grid;
  grid-template-columns: repeat(3, minmax(10vw, 1fr));
  grid-template-rows: repeat(3, minmax(10vw, 1fr));
  grid-gap: 10px;
  /*background-color: #FFFFFF;*/
}

.aboutme img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.aboutme div:nth-of-type(1) {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start:1;
  grid-column-end:3;
}

.aboutme div:nth-of-type(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.aboutme div:nth-of-type(3) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.aboutme div:nth-of-type(4) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.aboutme h2 {
  margin: 1em 0 .5em 0;
}

.aboutme p {
  padding: 0 2em;
  margin: 0 0 1.5em 0;
  line-height: 1.25em;
}

i.insert {
  cursor: pointer;
  color: #EB57F7;
  font-weight: bold;
}

/* Button */
.btn {
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 60px;
  background: #FFA412;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-weight: 300;
}

/* FOOTER */
footer {
  background: #FFFFFF;
  line-height: 1.5;
  font-size: 32px;
}

footer a {
  text-decoration: none;
  margin-bottom: 2em;
  color: #4567FF;
}
.footer-nav-block {
  padding: 2em;
}

footer .font-awesome {
  font-size: 1em;
  color: #4567FF;
}

/* MEDIA QUERIES */
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 50%;
    padding-left: 3em;
  }
  .one-third {
    width: 29.3333%;
  }
  .one-fourth {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
